@using IIIF.Serialisation
@using IIIFAuth2.API.Utils
@model (IIIF.JsonLdBase TokenResponse, Uri Origin)
<!DOCTYPE html>

<html lang="en">
<head>
  <title>Access Token Response</title>
</head>
<body>
<script>
    window.parent.postMessage(
      @Html.Raw(Model.TokenResponse.AsJson()),
      "@Model.Origin?.GetOrigin()"
    );
</script>
</body>
</html>