@model IIIFAuth2.API.Features.Auth.Requests.SignificantGestureModel

<!DOCTYPE html>

<html>
<head>
    <title>@Model.SignificantGestureTitle</title>
</head>
<body>
<p>@Model.SignificantGestureMessage</p>
<form></form>
</body>
</html>